body {
    padding-top: 100px;
}

h1{
.text-center
    margin: 0 auto;
    width: 500px;
    float: center;
    font-family: "Open Sans", sans-serif;
    color: #00c7c8;
}


th {
    font-family: "Open Sans", sans-serif;
    color: #f15c2e;
    font-size: 16px;
}

td {
    font-family: "Open Sans", sans-serif;
    color: #f15c2e;
    font-size: 16px;
}

a {
    text-decoration: none;
}
