body {
    padding-top: 100px;
}

h1{
.text-center
margin: 0 auto;
    width: 500px;
    float: center;
    font-family: "Lato", sans-serif;
}

h3{
.text-center
margin: 0 auto;
    width: 500px;
    float: center;
    font-family: "Lato", sans-serif;

}


th {
    font-family: "Lato", sans-serif;
    color: #00c7c8;
    font-size: 13px;
}

td {
    font-family: "Lato", sans-serif;
    color: #00c7c8;
    font-size: 13px;
}

a {
    text-decoration: none;
}
