<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkFit Client Form</title>
    <div th:replace="base::header"></div>
</head>
<body>
<div th:replace="baseclient::clientnavigation"></div>

            <form th:action="@{/addclient}" th:object="${client}" method="post"><!--nav bar and css components-->
                <div class="container">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h2>Add A Client</h2>
                        <div class="panel panel-default card card-3">
                            <div class="panel-body">
                <input type="hidden" th:field="*{id}" placeholder="Enter the Client's information">
                                
                <div class="form-group">
                    <label>First Name:</label>
                    <input class="form-control" type="text" th:field="*{firstName}" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input class="form-control" type="text" th:field="*{lastName}" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label>Contact Number:</label>
                    <input class="form-control" type="text" th:field="*{contactNumber}" placeholder="Contact Number">
                </div>

                <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" type="text" th:field="*{email}" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <input class="form-control" type="text" th:field="*{gender}" placeholder="Gender">
                </div>
                <input call="btn btn-default" type="submit" value="Add Client"/>

                            </div>
                        </div>
                    </div>
                </div>
            </form>


</body>
</html>