<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="base::header"></div>
</head>
<body>
<form th:action="@{/addclienttolocation/{id}}"  th:object="${locationlist}"  method="post">

    <input type="text" th:value="${client.id}" name="clientid"/>
    <label th:inline="text"> Adding Clients to Location</label>

    <select class="selectpicker" name="locationid">
        <option th:each="alocation:${locationlist}" th:value="${alocation.id}" th:text="${alocation.location}">Client id</option>
    </select>

    <input type="Submit" value="Add Client Location"/>
</form>

</body>
</html>