<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Clients List</title>
    <div th:replace="base::header"></div>
    <link rel="stylesheet" th:href="@{/css/clientlist.css}" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

</head>
<body>
<!--nav bar and css components-->
<div th:replace="base :: navigation"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
    <h1 class="text-center">Client List</h1>
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>Gender</th>
    </tr>
    <tr th:each="client : ${allclients}">
        <td th:text="${client.firstName}"></td>
        <td th:text="${client.lastName}"></td>
        <td th:text="${client.contactNumber}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.gender}"></td>
    </tr>
</table>
    <th:block th:replace="base::footer"></th:block>
        </div>
    </div>
</div>
</body>
</html>