<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" type="text/css"/>
</head>
<body>
<main class="site">
    <section class="site-help">
        <i aria-hidden="true" class="fa fa-question-circle"></i>
    </section>
    <section class="site-block site-hero">
        <div class="site-hero-content">
            <h1>
                Work<br />Fit
            </h1>
            <p>
                Personal Trainers In Your Pocket.<br />At Your Disposal.
            </p>
            <p>
                <strong>Get Started<br /></strong><strong>Today!</strong>
            </p>
            <ul class="site-nav-sub bottom">
                <li class="site-nav-sub-ele">
                    <a class="site-nav-sub-button btn btn-tang" href="#"><span>Book a Trainer Today</span></a>
                </li>
                <li class="site-nav-sub-ele">
                    <a class="site-nav-sub-button btn btn-tang" href="#"><span>Signup as a Client Today</span></a>
                </li>
            </ul>
        </div>
    </section>
    <section class="site-block site-invid site-block-yellow">
        <div class="site-block-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-3 col-md-6 col-md-offset-3">
                        <section class="site-block site-invid site-block-yellow">
                            <h1 class="header">
                                Get Fit<br/>With WorkFit
                            </h1>
                            <header>
                                <div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-1.jpg" alt>
                                    <div class="item">
                                        <div class="item-desc">
                                            <p class="item-heading"><a href="/addclient">Sign Up for New Clients</a></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
                                        </div>
                                    </div>

                                </div>
                                <div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-2.jpg" alt>
                                    <div class="item">
                                        <div class="item-desc">
                                            <p class="item-heading"><a href="/addtrainer">Sign Up for as Personal Trainer</a></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
                                        </div>
                                    </div>
                                </div>

                                <div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-3.jpg" alt>
                                    <div class="item">
                                        <div class="item-desc">
                                            <p class="item-heading"><a href="/showtrainerlist">Browse Our Trainers</a></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
                            </header>
                        </section>


                        <!--<ul class="site-nav-sub bottom">-->
                        <!--<li class="site-nav-sub-ele">-->
                        <!--<a class="site-nav-sub-button btn btn-tang" href="#"><span>Book a Trainer Today</span></a>-->
                        <!--</li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>

