<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkFit</title>
    <div th:replace="base::header"></div>
</head>
<body>

<!--nav bar and css components-->
<div th:replace="base :: navigation"></div>


<div class="container">
    <h2> What do you want to do</h2>
    <p>    <a href="/addclient">Add a Client </a> or <a href="/showclientlist">Show Client Listings</a></p>
    <p>    <a href="/addtrainer">Add a Personal Trainer </a> or <a href="/showtrainerlist">Show Trainer Listings</a></p>
    <p>    <a href="/login">Login</a> or <a href="/register">Register</a></p>
</div>


<th:block th:replace="base::footer"></th:block>
</div>
</body>
</html>