<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a Location</title>
    <div th:replace="base::header"></div>
</head>
<body>


<form th:action="@{/processlocationlist}" th:object="${location}" method="post"><!--nav bar and css components-->
    <div th:replace="base :: navigation"></div>
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>Add A Location</h2>
            <div class="panel panel-default card card-3">
                <div class="panel-body">
                    <input type="hidden" th:field="*{id}" placeholder="Enter Location information">


                    <div class="form-group">
                        <label>description:</label>
                        <input class="form-control" type="text" th:field="*{location}" placeholder="location">
                        <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span><br/>
                    </div>


                    <input call="btn btn-default" type="submit" value="Add Location"/>

                </div>
            </div>
        </div>
    </div>
</form>


</body>
</html>