<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Course</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <div th:replace="base::header"></div>

</head>
<body>
<!--nav bar and css components-->
<div th:replace="base :: navigation"></div>
<div class="container">
    <h1 class="text-center">Search Trainers</h1>
    <div class="col-md-6 col-md-offset-3">
        <form th:action="@{/search}" method="post">
            <div>Enter a complete or partial First Name, Last Name, Contact Number, Email, Rating, Gender<span class="text-success">Trainer Information</span> to search for </div>
            <label>Trainer Information Search: </label><input type="text" name="search"/>
        </form>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>
</body>
</html>