<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!--<link rel="stylesheet" href="/css/Style.css"/>-->

</head>
<body class="body3">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <!--This will collapse the navigation bar and make it shown while clicking the bar even after min size,-->
            <!--The Collapse start here-->

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#testNavBar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="testNavBar">
            <!--The Collapse end here-->

            <div class="row">
                <ul class="nav navbar-nav">
                    <div class="col-md-6"><li><a href="/">Index Page</a></li></div>

                </ul>
            </div>

        </div>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="#" th:action="@{/processspeciality}" th:object="${speciality}" method="post">

                <input type="hidden" th:field="*{id}"/>

                Exercise: <input type="text" th:field="*{exercise}" placeholder="Enter Trainer exercise"/>
                <span th:if="${#fields.hasErrors('exercise')}" th:errors="*{exercise}"></span><br/>

                Experiance: <input type="text" th:field="*{experiance}" placeholder="Enter Trainer experiance"/>
                <span th:if="${#fields.hasErrors('experiance')}" th:errors="*{experiance}"></span><br/>

                Description: <input type="text" th:field="*{description}" placeholder="Enter Trainer description"/>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br/>

                <input type="submit" value="submit"/>

            </form>
        </div>
    </div>
</div>
</body>
</html>