<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!--<link rel="stylesheet" href="/css/Style.css"/>-->

</head>
<body class="body3">
<!--nav bar and css components-->
<div th:replace="base :: navigation"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="#" th:action="@{/processspeciality}" th:object="${speciality}" method="post">

                <input type="hidden" th:field="*{id}"/>

                Exercise: <input type="text" th:field="*{exercise}" placeholder="Enter Trainer exercise"/>
                <span th:if="${#fields.hasErrors('exercise')}" th:errors="*{exercise}"></span><br/>

                Experiance: <input type="text" th:field="*{experiance}" placeholder="Enter Trainer experiance"/>
                <span th:if="${#fields.hasErrors('experiance')}" th:errors="*{experiance}"></span><br/>

                Description: <input type="text" th:field="*{description}" placeholder="Enter Trainer description"/>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br/>

                <input type="submit" value="submit"/>

            </form>
        </div>
    </div>
</div>
</body>
</html>