<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!--<link rel="stylesheet" href="/css/Style.css"/>-->

</head>
<body class="body3">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <!--This will collapse the navigation bar and make it shown while clicking the bar even after min size,-->
            <!--The Collapse start here-->

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#testNavBar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="testNavBar">
            <!--The Collapse end here-->

            <div class="row">
                <ul class="nav navbar-nav">
                    <div class="col-md-6"><li><a href="/">Index Page</a></li></div>
                    <div class="col-md-6"><li><a href="addtrainer">Add Trainer</a></li></div>

                </ul>
            </div>

        </div>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4">
<table class="table">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>ContactNumber</th>
        <th>Email</th>
        <th>Rating</th>
        <th>Gender</th>
<!--//        <th>Actions</th>-->

    </tr>
    <tr th:each="trainer:${fittrain}">
        <td th:text="${trainer.firstName}"></td>
        <td th:text="${trainer.lastName}"></td>
        <td th:text="${trainer.contactNumber}"></td>
        <td th:text="${trainer.email}"></td>
        <td th:text="${trainer.rating}"></td>
        <td th:text="${trainer.gender}"></td>


        <!--<td>-->
        <!--<a th:href="@{/update/{id}(id=${train.id})}">Update Trainer</a>-->
        <!--<a th:href="@{/delete/{id}(id=${train.id})}">Delete Trainer</a>-->
        <!--</td>-->
    </tr>
</table>
        </div>
    </div>
</div>
</body>
</html>
