body {
    padding-top: 100px;
}

.text-center {
    margin: 0 auto;
    width: 500px;
    float: center;
}

.logo-graphic {
    float: left;
    height: 50px;
    padding: 0 25px;
    width: 55px;
    -webkit-animation: logo-drop 1.5s;
}

.logo-text {
    float: left;
    -webkit-animation: text-fade 1.8s;
}

@-webkit-keyframes logo-drop {
    0% {
        margin-top: -300px;
        -webkit-transform: rotate(45deg);
    }
    20% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    22% {
        margin-top: 3px;
        -webkit-transform: rotate(45deg);
    }
    25% {
        margin-top: -1px;
        -webkit-transform: rotate(45deg);
    }
    28% {
        margin-top: 3px;
        -webkit-transform: rotate(45deg);
    }
    31% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    70% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes logo-drop {
    0% {
        margin-top: -300px;
        -webkit-transform: rotate(45deg);
    }
    20% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    22% {
        margin-top: 3px;
        -webkit-transform: rotate(45deg);
    }
    25% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    28% {
        margin-top: 3px;
        -webkit-transform: rotate(45deg);
    }
    31% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    70% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@-o-keyframes logo-drop {
    0% {
        margin-top: -300px;
        -webkit-transform: rotate(45deg);
    }
    20% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    22% {
        margin-top: 3px;
        -webkit-transform: rotate(45deg);
    }
    25% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    28% {
        margin-top: 3px;
        -webkit-transform: rotate(45deg);
    }
    31% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    70% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@keyframes logo-drop {
    0% {
        margin-top: -300px;
        -webkit-transform: rotate(45deg);
    }
    20% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    22% {
        margin-top: 3px;
        -webkit-transform: rotate(45deg);
    }
    25% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    28% {
        margin-top: 3px;
        -webkit-transform: rotate(45deg);
    }
    31% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    70% {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes text-fade {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes text-fade {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes text-fade {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes text-fade {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Greeting {
    font-family: "Lato", sans-serif;
    font-size: 20px;

    -webkit-animation: text-fade 4s;
}

#button {
    margin-top: 100px;
    text-align: center;
    border: solid 1px #00c7c8;
    border-radius: 25px;
    width: 150px;
    margin-left: 50%;
}

#button p {
    font-family: "Lato", sans-serif;
    color: #00c7c8;
    font-size: 13px;
}

#button p:hover {
    color: #fff;
    transition: 0.4s;
}

#button:hover {
    background-color: #00c7c8;
    transition: 0.4s;
}

a {
    text-decoration: none;
}
